OPENAI_API_KEY="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"
HF_TOKEN="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"
DEEPSEEK_API_KEY="sk-696d587206dc4c51b2b5df529256c2c8"
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_SECRET_KEY=""