fastmcp>=2.5.0
requests>=2.31.0
smolagents[all]
langgraph>=0.4.7
matplotlib>=3.9.0
numpy>=2.0.0
sentence-transformers==5.0.0
torch>=1.11.0
dotenv
litellm
openai==1.99.9
python_a2a
psutil>=5.9.0
pygame>=2.5.0
